@charset "utf-8";
body{
	width:1350px;
	height:585px;
	margin:0;
	padding:0;
	max-width: 100%;
	
	}
.container{
	width:1350px;
	height:585px;
	margin:0;
	padding:0;
	max-width:100%;
	
	}
.Header_Section{
		width:100%;
		height:40px;
		background-color:#36373e;
}
.Header_Section .logo{
	width:9.7%;
	height:34px;
	color:white;
	font-family:trebuchet MS, helvetica, sans-serif;
	
	font-size:1.6em;
	float:left;
	letter-spacing:5px;
	margin-left:65px;	
}
.Header_Section .menu{
	width:35%;
	max-width:100%;
	height:33px;
	float:right;
	}
.Header_Section ul{
	width:100%;
	height:33px;
	float:right;
	margin-top:2px;
	
}
.Header_Section li{
	list-style-type:none;

	} 
.Header_Section a{
	width:2.8vm;
	border-color: #e6ebed;
	display:block;
	font-size:15px;
	color:#CDC5C5;
	text-decoration:none;
	text-align: center;
	font-family:trebuchet MS, helvetica, sans-serif;
	float:left;	
	margin-left:5px;
	margin-top:4px;
	}
	.Header_Section span{
	width:2vm;
	height:32px;
	float:left;
	text-align:center;
	padding-right:40px;
}
.Main_Section{
	width:100%;
	height:560px;
	border-color:red;
	margin-top:5px;
}
.side_panel{
	width:21.6%;
	height:545px;
	border-color:grey;
	background:url(images/bg.jpg);
	background-size: 300px 545px;
	background-repeat:no-repeat;
	opacity:0.4;
	float:left;
    filter: alpha(opacity=40);
	
	}
	.main_panel{
	width:78%;
	height:545px;
	border-color:black;
	float:right;
	background:url(images/bg.jpg);
	background-size: 1044px 545px;
	background-repeat:no-repeat;
	opacity:0.8;
	float:left;
    filter: alpha(opacity=40);
	margin-left:3px;
	}
	.main_panel .greetings{
		width:10%;
		height:30px;
		font-family:trebuchet MS, helvetica, sans-serif;
		color:white;
		font-size:15px;
		float:right;
		border-style:solid;
		margin-right:50px;
		margin-top:10px;
		
		
		}
#events{
	margin-top: 30px;
	margin-left:220px;
	height:45px;
	width:57%;
	
	float:left;
	display:inline-block;
	
}
#events span{
	font-size:24px;
	color:white;
	margin-left:150px;
	text-align: center;
	text-decoration:none;
	font-family:trebuchet MS, helvetica, sans-serif;
	font-weight:bold;
	text-transform: uppercase;

}
#choosedate
{
	display:inline-block;
	float:left;
	margin-left: 320px;
	margin-top: 50px;
	margin-bottom: 20px;
}
#buts{
	height:25px;
	width:90px;
}
#DisplayDiv{
	max-height:350px;
	display:inline-block;
	overflow:auto;
	/*border:3px solid black;
	border-radius: 10px;*/
	margin-left:130px;
	width:80%;
	max-width: 100%;
}
.testdata1
{
	float:left;
	
	width:74%;
	height:20px;
	display:inline-block;
	margin-top:20px;
	margin-left:92px;
	background-color:#A8A8A8;
	/*padding:8px;*/
}

.testdata1 span{
	font-weight:bold;
	font-size:18px;
	color:black;
	margin-left:100px;
	text-align: center;
	text-decoration:none;
	font-family:trebuchet MS, helvetica, sans-serif;

}

.testinfo1
{
	float:left;
	margin-top:10px;
	width:74%;
	height:60px;
	display:inline-block;
	margin-left:92px;
	background-color:#D8D8D8 ;
	max-width: 100%;
	
	
}

.testinfo1 span{
	font-size:16px;
	color:black;
	text-align: center;
	text-decoration:none;
	font-family:trebuchet MS, helvetica, sans-serif;
}

#testing1{
	margin-top:4px;
	height: 30px;
	width: 15%;
	border-radius: 10px;
	font-size: 14px;
	font-weight:bold;
	font-family:trebuchet MS, helvetica, sans-serif;
	display:inline-block;
	float:left;
	margin-left:250px;
	border:1px solid black;
}
.StyleTxtField{
	border:1px solid #666;
	width:20%;
	height:30px;
	font-family: Arial,helvetica, sans-serif;
	padding-left:10px;
	display:block;
	
}
.button_style{
	width:20%;
	height:36px;
	background-color:black;
	color:white;
	font-family:Arial,helvetica,sans serif;
	
	}
	.styleTxt{
	width:200px;
	height:30px;
	font-family: Arial,helvetica, sans-serif;
	color:#000000;
	font-weight:lighter;
	font-size:15px;
	
}
.Footer{
	width:1350px;
	height:30px;
	max-width:100%;
	background-color:#36373e;
	margin-top:-8px;
	color:white;
}
.Footer #footer_left{
	float:left;
	margin-left:500px;
}
